<html ng-app="carApp">
<head>
	<title>Prova</title>
	<link href="./css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	
	<script type="text/javascript" src="./lib/jquery-min.js"></script>
	<script type="text/javascript" src="./lib/bootstrap.min.js"></script>
	<script type="text/javascript" src="./lib/angular.min.js"></script>
	<script type="text/javascript" src="./lib/angular-animate.min.js"></script>
	<script type="text/javascript" src="./lib/angular-resource.min.js"></script>
	<script type="text/javascript" src="./js/app.js"></script>
	<script type="text/javascript" src="./js/car/car_controller.js"></script>
	<script type="text/javascript" src="./js/car/car_service.js"></script>
</head>

<body>
	<div ng-controller="carCtrl">
<!-- 		<input type="text" name="brand" ng-model="carController.brand" /><br></br> -->
<!-- 		<input type="text" name="color" ng-model="carController.color" /><br></br> -->
<!-- 		<input type="text" name="sign" ng-model="carController.sign" /><br></br> -->
<!-- 		<button type="button" ng-click="carController.addCar()">Add Car</button> -->
		
		
		<h3>All Cars:</h3><br></br>
		<button ng-click="getAllCars()">Cars</button><br></br>
		<table>
			<tr ng-repeat="refCar in cars">
	    		<td>{{ refCar.brand }}</td>
	    		<td>{{ refCar.color }}</td>
	    		<td>{{ refCar.sign }}</td>
  			</tr>
		</table>
		
		<hr></hr>
		
		<h3>Get Car</h3><br></br>
		<button ng-click="getCar()">Car</button><br></br>
		<div ng-show="selectedCar!=null">
			<b>Modello: {{ selectedCar.brand }}</b> <br></br>
			<b>Colore: {{ selectedCar.color }}</b> <br></br>
			<b>Targa: {{ selectedCar.sign }}</b>
		</div>
		
	</div>
	
	
</body>
</html>