<html ng-app="carApp">
<head>
	<title>Prova</title>
	<link href="./css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	
	<script type="text/javascript" src="./lib/jquery-min.js"></script>
	<script type="text/javascript" src="./lib/bootstrap.min.js"></script>
	<script type="text/javascript" src="./lib/angular.min.js"></script>
	<script type="text/javascript" src="./lib/angular-animate.min.js"></script>
	<script type="text/javascript" src="./lib/angular-resource.min.js"></script>
	<script type="text/javascript" src="./js/app.js"></script>
	<script type="text/javascript" src="./js/car/car_controller.js"></script>
	<script type="text/javascript" src="./js/car/car_service.js"></script>
</head>

<body>
	<div ng-controller="carCtrl">

		<h3>All Cars:</h3><br></br>
		<button ng-click="getAllCars()">Cars</button><br></br>
		<table>
			<tr ng-repeat="refCar in garage.cars">
	    		<td>{{ refCar.brand }}</td>
	    		<td>{{ refCar.color }}</td>
	    		<td>{{ refCar.sign }}</td>
  			</tr>
		</table>
		
		<hr></hr>
		
		<h3>Get Car:</h3><br></br>
		<input type="text" name="brand" ng-model="garage.indexCar" /><br></br>
		<button ng-click="getCar(garage.indexCar)">Car</button><br></br>
		<div ng-show="garage.selectedCar!=null">
			<b>Modello: {{ garage.selectedCar.brand }}</b> <br></br>
			<b>Colore: {{ garage.selectedCar.color }}</b> <br></br>
			<b>Targa: {{ garage.selectedCar.sign }}</b>
		</div>

		<hr></hr>
		
		<h3>Create:</h3><br></br>
		Modello: <input type="text" ng-model="garage.newcar.brand" /> <br></br>       
        Colore: <input type="text" ng-model="garage.newcar.color" /> <br></br>  
        Targa: <input type="text" ng-model="garage.newcar.sign" /> <br></br>                        
		<button ng-click="create()">Add</button><br></br>

	</div>
	
	
</body>
</html>